.container_section_card {
	display: flex;
	flex-direction: column;
	background-color: var(--background);
	height: 30vh;
	border-radius: 20px;
	width: 25vw;
	overflow: hidden;
	transition: box-shadow 0.5s;
}

.container_section_card:hover {
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.visual_container {
	height: 60%;
	width: 100%;
	box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.1);
}

.image_section {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.a_container_info_section {
	height: 40%;
	width: 100%;
}

.container_info_section {
	width: 100%;
	height: 100%;
}


.info_section {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	gap: 7%;
	padding-left: 5%;
}

.logo_section {
	height: 50%;
}

.section_img_logo {
	height: 100%;
}

.description_section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.place {
	font-weight: bold;
	font-size: 1rem;
}

.thing {
	font-size: 1em;
	width: 90%;
}

.date {
	font-size: 0.7rem;
}

model-viewer {
	width: 100%;
	height: 100%;
}

@media (max-width: 1200px) {
	.container_section_card {
		width: 80vw;
	}
}
