.container_projects {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.padding_container {
	display: flex;
	justify-content: center;
	gap: 2rem;
	flex-wrap: wrap;
	width: 90%;
	height: 90%;
}
