.container_projects {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: var(--main_section_height);
	flex-wrap: wrap;
	gap: 1rem;
}

@media (max-width: 1200px) {
	.container_projects {
		min-height: var(--main_section_height_res);
	}
}
