:root {
	--background: #FFF;
	--complementary: #000;
	--main_section_height: calc(100vh - (12vh + 1rem + 10vh));
	--main_section_height_res: calc(100vh - (145px + 1rem + 10vh));
	--rows: 2;
	--columns: 4;
	--skills_width: 15vw;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Oswald', sans-serif;
	background-color: var(--background);
}

h1 {
	font-size: 2rem;
	font-weight: bold;
}

p {
	font-size: 1.2rem;
}
